<template>
  <div>
    <section class="work">
      <figure v-for="ressource in ressources" :key="ressource.id" class="white">
        <router-link :to="{name: 'ressources.show', params: { id: ressource.id }}">
          <img :src="'img/' + ressource.image + '.jpg'" alt="" />
          <dl>
            <dt>{{ ressource.titre }}</dt>
            <dd>{{ ressource.description.substring(0,100) + " ..." }}</dd>
          </dl>
        </router-link>
        <div id="wrapper-part-info">
          <div class="part-info-image"><img :src="'img/' + ressource.categorie.icone + '.svg'" alt="" width="28" height="28"/></div>
          <div id="part-info">{{ ressource.categorie.titre }}</div>
        </div>
      </figure>
    </section>
  </div>
</template>

<script>
  export default {
    computed: {
      // Affichage des ressources selon leur catégorie
      ressources() {
        let id = this.$route.params.id;
        return this.$store.getters.getRessourcesByCategorieId(id);
      },
    }
  }
</script>
