<template>
  <div>
    <section class="work">
    	  <figure v-for="ressource in ressources" :key="ressource.id" class="white">
        <router-link :to="{name: 'ressources.show', params: { id: ressource.id }}">
    	    <img :src="'img/' + ressource.image + '.jpg'" alt="" />
    	    <dl>
    				<dt>{{ ressource.titre }}</dt>
    				<dd>{{ ressource.description.substring(0,100) + " ..." }}</dd>
    			</dl>
        </router-link>
        <div id="wrapper-part-info">
          <div class="part-info-image"><img :src="'img/' + ressource.categorie.icone + '.svg'" alt="" width="28" height="28"/></div>
          <div id="part-info">{{ ressource.categorie.titre }}</div>
        </div>
      </figure>
    </section>
    <div class="buttons">
    	 <button class="btn btn-dark" style="margin-top: 50px; margin-left: 40%;" type="button" @click="moreResources += 8">More ressources</button>
	  </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      moreResources : 20
    }
  },
  computed: {
    // Va chercher 20 ressources pour les afficher dans l'index
    ressources() {
      return this.$store.getters.getRessources.slice(0, this.moreResources);
    }
  }
}
</script>
